.caixaCabecalho {
    text-align: start;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btnAtualizarForcas {
    margin-top: 4px;
}

.caixaForcasDisponiveis {
    height: 200px;
    margin-top: 10px;
}