.btnLetra {
    margin: 5px;
}

.caixaPalavraSecreta {
    font-size: 3em;
    margin-bottom: 40px;
}

.caracterPalavraSecreta {
    margin: 0px 10px;
}

.caixaBonecoForca {
    margin-top: 10px;
}

.hangman {
    width: 25%;
    margin-bottom: 10px;
}